* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "OldComputer", Courier, monospace;
    background-image: url('Images/backgroundweb.jpg');
    background-size: cover;
    color: white;
    overflow-x: hidden;
    padding-top: 70px;
  }
  
  .topbar {
    background-color: rgba(23, 35, 25, 0.5);
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "OldComputer", Courier, monospace;
    font-size: 16px;
    color: white;
  }
  
  .topbar a {
    color: green;
    cursor: pointer;
    text-decoration: none;
  }
  
  .topbar a:hover {
    text-decoration: underline;
  }
  
  .topbarRT {
    font-size: 200%;
    font-family: "OldComputer", Courier, monospace;
    color: white;
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: rgba(23, 35, 25, 0.5);
    padding: 10px;
  }
  
  .title1, .title2 {
    font-family: "OldComputer", Courier, monospace;
    color: white;
    background-color: rgba(23, 35, 25, 0.5);
    height: 5%;
    padding: 10px;
  }
  
  .title1 {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  
  .title2 {
    position: absolute;
    top: 25%;
    left: 80%;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px; 
    padding: 20px;
  }
  
  .body {
    font-family: "OldComputer", Courier, monospace;
    color: white;
    background-color: rgba(23, 35, 25, 0.5);
    padding: 15px;
    width: 70%;
    height: auto;
    overflow-y: scroll;
  }
  
  .sidebar {
    font-family: "OldComputer", Courier, monospace;
    color: white;
    background-color: rgba(23, 35, 25, 0.5);
    padding: 15px;
    width: 25%;
    height: auto;
    overflow-y: scroll;
  }
  
  .borderbar {
    height: 5px;
    border-color: white;
    border-width: 5px;
    width: 98%;
    border-style: dashed;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
  }
  
  img.sidebar-img {
    width: 200px;
    height: 200px;
    float: right;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @font-face {
    font-family: "OldComputer";
    src: url('font/Px437_IBM_VGA_8x16.ttf');
  }